.rel {
  /* 기본값은 static */
  /* relative는 static을 기준으로 상대적 배치 */
  position: relative;
  right: 100px;
  bottom: 50px;
}

div {
  border: 1px solid red;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 200px;
}

.abs {
  width: 100px;
  height: 100px;

  /* static 기준이 아니라,  부모 요소가 기준이 됨 */
  /* 단, 부모가 static이 아니어야 함 */
  /* 만약 부모가 static이면 그 상위요소로 넘어가게 됨 */
  position: absolute;
  
  /* 부모 요소의  정중앙*/
  /* top: 50%;
  left: 50%; */
  /* x축에서 -50%만큼  움직이고, y축에서 -50%만큼 움직인 것*/
  /* transform: translate(-50%, -50%); */
  
  /* right: 25%;
  bottom: 0%;
  transform: translate(-25%) */
  /* bottom: 0%;
  left: 50%;
  transform: translate(-50%); */

  right: 100%;
  
}

