* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;

  grid-template-columns: repeat(3, minmax(300px, 320px));
  gap: 10px;
  padding: 10px;
}

.container > div {
  border: 1px solid black;
  box-shadow: 0px 2px 2px 2px gray;
  padding: 10px;

}

.container > div h3, img {
  text-align: center;
}