body {
  /* background-color: #33ce6e; */
  background-image: url("../../images/teemo.jpg");
  background-repeat: no-repeat;
  background-size: 50%;
  /* top bottom center  left right center */
  background-position: center center;
  height: 3000px;
  background-attachment: fixed;

  background: rgb(36, 92, 36) 
              url("../../images/gangplank.jpg") 
              no-repeat center center fixed;
  
  background: linear-gradient(to right bottom, blue, pink);
  background: radial-gradient(circle, skyblue, yellowgreen);
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  
  background-color: #DCD9D4;
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
}

h1 {
  background-color: #fff;
}

p {
  background-color: rgb(156, 100, 50);
}

.bg {
  background-color: rgba(50, 250, 200, 0.5);
}